{% load static %}

<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lakers Professional</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
	<meta name="theme-color" content="#c40316">
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>

{#    <!--Offcanvas menu area start-->#}
{#    <div class="off_canvars_overlay"></div>#}
{#    <div class="Offcanvas_menu">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <div class="canvas_open light-color">#}
{#                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>#}
{#                    </div>#}
{#                    <div class="Offcanvas_menu_wrapper">#}
{#                        <div class="canvas_close">#}
{#                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>#}
{#                        </div>#}
{##}
{#                        <div class="header_configure_area">#}
{#                            <div class="header_wishlist">#}
{#                                <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>#}
{#                                    <span class="wishlist_count">3</span>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="mini_cart_wrapper">#}
{#                                <a href="javascript:void(0)">#}
{#                                    <i class="fa fa-shopping-bag"></i>#}
{#                                    <span class="cart_price"><i class="ion-ios-arrow-down"></i></span>#}
{#                                    <span class="cart_count">2</span>#}
{##}
{#                                </a>#}
{#                                <!--mini cart-->#}
{#                                <div class="mini_cart">#}
{#                                    <div class="mini_cart_inner">#}
{#                                        <div class="cart_item">#}
{#                                            <div class="cart_img">#}
{#                                                <a href="#"><img src="{% static 'assets/img/s-product/product.jpg' %}" alt=""></a>#}
{#                                            </div>#}
{#                                            <div class="cart_info">#}
{#                                                <a href="#">گوشی هوشمند سامسونگ A50</a>#}
{#                                                <p>تعداد: 1 × <span> 60,000 تومان </span></p>#}
{#                                            </div>#}
{#                                            <div class="cart_remove">#}
{#                                                <a href="#"><i class="ion-android-close"></i></a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="cart_item">#}
{#                                            <div class="cart_img">#}
{#                                                <a href="#"><img src="{% static 'assets/img/s-product/product2.jpg' %}" alt=""></a>#}
{#                                            </div>#}
{#                                            <div class="cart_info">#}
{#                                                <a href="#">صندلی آشپزخانه پلاستیکی Nilper</a>#}
{#                                                <p>تعداد: 1 × <span> 60,000 تومان </span></p>#}
{#                                            </div>#}
{#                                            <div class="cart_remove">#}
{#                                                <a href="#"><i class="ion-android-close"></i></a>#}
{#                                            </div>#}
{#                                        </div>#}
{#									</div>#}
{#									<div class="mini_cart_table">#}
{#										<div class="cart_total">#}
{#											<span>جمع اجزا:</span>#}
{#											<span class="price">138,000 تومان</span>#}
{#										</div>#}
{#										<div class="cart_total mt-10">#}
{#											<span>جمع کل:</span>#}
{#											<span class="price">138,000 تومان</span>#}
{#										</div>#}
{#									</div>#}
{#                                    <div class="mini_cart_footer">#}
{#                                        <div class="cart_button">#}
{#                                            <a href="cart.html">مشاهده سبد</a>#}
{#                                        </div>#}
{#                                        <div class="cart_button">#}
{#                                            <a href="checkout.html">پرداخت</a>#}
{#                                        </div>#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                <!--mini cart end-->#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="search_container">#}
{#                            <form action="#">#}
{#                                <div class="hover_category">#}
{#                                    <select class="select_option" name="select" id="categori1">#}
{#                                        <option selected value="1">همه دسته ها</option>#}
{#                                        <option value="2">لوازم جانبی</option>#}
{#                                        <option value="3">سایر لوازم جانبی</option>#}
{#                                        <option value="4">لوازم کامپیوتر</option>#}
{#                                        <option value="5">دوربین و ویدیو </option>#}
{#                                        <option value="6">صفحه نمایش</option>#}
{#                                        <option value="7">تبلت ها</option>#}
{#                                        <option value="8">لپ تاپ ها</option>#}
{#                                        <option value="9">کیف دستی</option>#}
{#                                        <option value="10">هدفون و اسپیکر</option>#}
{#                                        <option value="11">گیاهان دارویی</option>#}
{#                                        <option value="12">سبزیجات</option>#}
{#                                        <option value="13">فروشگاه</option>#}
{#                                        <option value="14">لپ تاپ و کامپیوتر</option>#}
{#                                        <option value="15">ساعت ها</option>#}
{#                                        <option value="16">لوازم الکترونیکی</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="search_box">#}
{#                                    <input placeholder="جستجوی محصول ..." type="text">#}
{#                                    <button type="submit">جستجو</button>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{#                        <div id="menu" class="text-left ">#}
{#                            <ul class="offcanvas_main_menu">#}
{#                                <li class="menu-item-has-children active">#}
{#                                    <a href="#">خانه</a>#}
{#                                    <ul class="sub-menu">#}
{#                                        <li><a href="index.html">خانه </a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="menu-item-has-children">#}
{#                                    <a href="shop.html">فروشگاه</a>#}
{##}
{#                                </li>#}
{##}
{#                                <li class="menu-item-has-children">#}
{#                                    <a href="#">صفحات </a>#}
{#                                    <ul class="sub-menu">#}
{#                                        <li><a href="about.html">درباره ما</a></li>#}
{#                                        <li><a href="faq.html">سوالات متداول</a></li>#}
{#                                        <li><a href="privacy-policy.html">سیاست حریم خصوصی</a></li>#}
{#                                        <li><a href="contact.html">تماس</a></li>#}
{#                                        <li><a href="{% url 'login' %}">ورود</a></li>#}
{#                                        <li><a href="404.html">خطای 404</a></li>#}
{#                                        <li><a href="compare.html">مقایسه</a></li>#}
{#                                        <li><a href="coming-soon.html">به زودی</a></li>#}
{#                                        <h1>dndidnv</h1>>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="menu-item-has-children">#}
{#                                    <a href="my-account.html">حساب کاربری</a>#}
{#                                </li>#}
{#                                <li class="menu-item-has-children">#}
{#                                    <a href="about.html">درباره ما</a>#}
{#                                </li>#}
{#                                <li class="menu-item-has-children">#}
{#                                    <a href="contact.html"> تماس با ما</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="Offcanvas_footer">#}
{#                            <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>#}
{#                            <ul>#}
{#                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>#}
{#                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
{#                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!--Offcanvas menu area end-->#}

    <!--header area start-->
{% block header %}
    {% include "header.html" %}
{% endblock header %}
    <!--header area end-->

{% block content %}
{% endblock content %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}


    <script src="{% static 'assets/js/plugins.js'%}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>