{% extends 'index.html' %}
{% load static %}


<html class="no-js" lang="fa" dir="rtl">

{% block content %}


<body>
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">خانه</a></li>
                            <li>جزئیات محصول</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->
    <div class="product_page_bg">
        <div class="container">
            <div class="product_details_wrapper mb-55">
                <!--product details start-->
                <div class="product_details">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="product-details-tab">
                                <div id="img-1" class="zoomWrapper single-zoom">
                                    <a href="#">
                                        <img id="zoom1" src="{{product.image.url}}" width="538" height="538">

                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="product_d_right">
                                <form action="#">
                                    <h3><a href="#">{{product.product_name}}</a></h3>
                                    <div class="product_rating">
                                        <ul>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li class="review"><a href="#">(  نقد و بررسی )</a></li>
                                        </ul>
                                    </div>

                                    <div class="price_box">
                                        {% if product.discount_price %}
                                        <span class="old_price">{{product.product_price}}</span>
                                        <span class="current_price">{{ product.discount_price }}</span>
                                        {% else %}
                                        <span class="current_price">{{product.product_price}}</span>
                                        {% endif %}

                                    </div>

                                    <div class="product_desc">
                                    <p>{{product.description}}</p>
                                    </div>
                                    <div class="product_variant color">
                                        <h3>گزینه های در دسترس</h3>
                                        <label>رنگ</label>
                                        <ul>
                                            <li class="color1"><a href="#"></a></li>
                                            <li class="color2"><a href="#"></a></li>
                                            <li class="color3"><a href="#"></a></li>
                                            <li class="color4"><a href="#"></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_variant quantity">
                                        <label>تعداد</label>
                                        <input min="1" max="100" value="1" type="number">
                                        <button class="button" type="submit">افزودن به سبد</button>

                                    </div>
                                    <div class=" product_d_action">
                                        <ul>
                                            <li><a href="#" title="افزودن به علاقه‌مندی‌ها">+ افزودن به علاقه‌مندی‌ها</a></li>
                                            <li><a href="#" title="افزودن به علاقه‌مندی‌ها">+ مقایسه</a></li>
                                        </ul>
                                    </div>
                                    <div class="product_meta">
                                        <span>دسته: <a href="#">پوشاک</a></span>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!--product details end-->

                <!--product info start-->
                <div class="product_d_info">
                    <div class="row">
                        <div class="col-12">
                            <div class="product_d_inner">
                                <div class="product_info_button">
                                    <ul class="nav" role="tablist">
                                        <li>
                                            <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">توضیحات</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">مشخصات فنی</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">نقد و برررسی ({{ product.comments.count}})</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="info" role="tabpanel">
                                        <div class="product_info_content">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="sheet" role="tabpanel">
                                        <div class="product_d_table">
                                            <form action="#">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td class="first_child">جنس</td>
                                                            <td>پلی استر</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first_child">سبک ها</td>
                                                            <td>دخترانه</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first_child">خصوصیات</td>
                                                            <td>پیراهن کوتاه</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </form>
                                        </div>
                                        <div class="product_info_content">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و</p>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                                        <div class="reviews_wrapper">
                                            <h2> نقد و بررسی برای این محصول</h2>
                                            <div class="reviews_comment_box">
                                                <div class="comment_thmb">
                                                   <img src="../../../static/assets/img/blog/comment2.jpg" alt="">
                                                </div>


                                                <div class="comment_text">
                                                   {%if not product.comments.all %}
                                                    <P> هنوز دیدگاهی نوشته نشده است !</P>
                                                    {% else %}
                                                    {%for comment in product.comments.all%}
                                                    <h5><strong>{{comment.commenting_user}}</strong></h5>
                                                    <p>{{comment.description}}</p>
                                                    <p><small>{{comment.uploaded_at}}</small></p>
                                                    {% endfor %}
                                                {% endif %}
                                                     <div class="comment_title">
                                                <h1>یک نقد و بررسی بنویسید </h1>
                                                         <form action="{% url 'add-comment' product.pk   %}" method="post">
                                                            {% csrf_token %}
                                                            {{comment_form.as_p}}
                                                            <input type="submit" value="ذخیره">
                                                        </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--product info end-->
            </div>

        </div>
    </div>

{% endblock content %}




    <!-- JS
============================================ -->

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins.js'%}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js'%}"></script>



    </body>

</html>
